body {
  text-align: center;
  background: url('images/king_kong_background.jpeg');
  margin: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: 'Yesteryear', cursive;
  text-shadow: 2px 2px 8px black;
}



#gameContainer {
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#controls {
  position: absolute;
  top: 150px;
  right: 1px;
  font-size: 18px;
}

ul {
  list-style-type: none;
}
